.login-container {
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
	padding: 2rem;
	min-height: 50vh;

	h2 {
		margin-top: 10px 0px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		margin-top: auto;
		height: 10vh;
	}
}
